<div style="width: 100%;">
  <h1 style="text-align: center;">Welcome to the Amusement Park <%= current_user.name if current_user %>!</h1>
  <img style="width: 100%;"src="https://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg">
</div>
